

<nav class="navbar navbar-light  bg-info">
  <div class="container-fluid">
   {{!--  <a class="navbar-brand secondary"href="#"><img src="../../public/images/link.png " > Save your links</a> --}}
<a class="navbar-brand bg-outline-secondary"> Save your links. </a>
    <form class="d-flex">
 {{!--      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> --}}
   {{!--    <button class="btn btn-outline-success" type="submit">Logout</button> --}}
      <a class="btn btn-outline-secondary" href="/logout"> Logout </a>
    </form>
  </div>
</nav> 