<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />

</head>

<body>

    {{>navbar3}}
    <div class="container   pt-5">
        <div class="card text-center mt-5 ">
            <div class="card-boody">
                <h1><span class="fa fa-user"></span>
                    <div class="text-decoration-underline ">
                        <p class="bg-light-subtle">{{nombre}}</p>
                    </div>
                    Your inquiry has been sent! . We will contact you
                    shortly.
                </h1>


         
         
                <script src="/assets/js/jquery-3.3.1.js"></script>
                <script src="/assets/js/bootstrap.js"></script>

</body>

</html>