<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
    {{>navbar2}} 

    {{>registro}}

  


    {{!-- <div class="container">
        <div class="cold-sm-6 mx-auto">
            <div class="col sm-6 mx-auto">
                <div class="card mt-5"></div>
                <div class="card-body"></div>
                <h1 class="text center">
                    <span class="fa fa-sign-in"></span> Login
                </h1>

                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">Nombre</label>
                        <input type="username" name="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="paswword">Password</label>
                        <input type="password" name="passwords" class="form-control">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-dark btn-lg" value="Login">
                    </div>

                </form>



                <form action=" /login" method="post">
                    <div <label for="username">Nombre</label>
                        <input type="text" name="username">
                    </div>
                    <div <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="Login">

                    </div>

                </form>
                --}}
</body>

</html>